{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-6">
       <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
             <div class="iq-header-title">
                <h4 class="card-title">Transfer Funds</h4>
             </div>
          </div>
          <div class="iq-card-body">
             <form method="post">
               {% csrf_token %}
                <div class="form-group">
                   <label for="text">User ID</label>
                   <input type="text" class="form-control" id="email1">
                </div>
                <div class="form-group">
                   <label for="pwd">Amount:</label>
                   <input type="number" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancle</button>
             </form>
          </div>
          {{message}}
       </div>
    </div>
 </div>
{% endblock %}