{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Income History' %}{% endblock %}


{% block content %}
		<!-- Orders -->
		<div class="col-12 col-md-12 position-relative">
			<div class="card border-0 mb-4">
				<div class="card-header">
					<div class="row">
						<div class="col mb-2">
							<h6 class="fw-medium mb-0">Level Income</h6>
						</div>
					</div>
				</div>
				<div style="overflow: scroll;" class="card-body p-0">
					<table class="table table-borderless footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-sm" data-show-toggle="true" style="">
						<thead>
							<tr class="text-muted footable-header">	
							<th class="w-12 footable-sortable footable-first-visible" style="display: table-cell;"><span class="fooicon fooicon-sort"></span></th>
							<th class="footable-sortable" style="display: table-cell;">User ID<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Amount<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">Comment<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Date<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="xs md" class="footable-sortable" style="display: table-cell;">Status<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="all" data-title="Deliver to" class="footable-sortable" style="display: table-cell">txn ID<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="all" data-title="Address" class="footable-sortable" style="display: table-cell">Type<span class="fooicon fooicon-sort"></span></th>
							<th data-breakpoints="all" data-title="Location" class="footable-sortable" style="display: table-cell">Balance<span class="fooicon fooicon-sort"></span></th>
						</tr>
						</thead>
						<tbody>
							{% for history in histories %}
															{% if history.type == 'hidden' %}
															{% else %}
															<tr>
																<td class="footable-first-visible" style="display: table-cell;">{{ forloop.counter }}</td>
																<td style="display: table-cell;">
																	{{ history.user_id }}
																	</td>
																	<td style="display: table-cell;">
																		<p class="mb-0">{{ history.amount }}</p>
																		<p class="text-secondary small">USD</p>
																	</td>
																	<td style="display: table-cell;">
																		<p class="mb-0">{{history.comment}}</p>
																	</td>
																	<td style="display: table-cell;">
																		<p class="mb-0">{{history.created_at}}</p>
																	</td>
																	<td style="display: table-cell;">
																		<p class="mb-0">Success</p>
																	</td>
																	<td style="display: table-cell;">
																		<p class="mb-0">{{history.txnid}}</p>
																	</td>
																	<td style="display: table-cell">
																		<p class="mb-0">{{history.type}}</p>
																	</td>
																	<td style="display: table-cell">
																		<p class="mb-0">{{history.balance}}</p>
																	</td>
																</tr>
															{% endif %}
															{% endfor %}
						
							</tbody>
					</table>
				</div>
				<div class="card-footer bg-none">
					<div class="row align-items-center text-center">
						<div class="col-12 mb-2">
							<span class="hide-if-no-paging">Showing 
								
							</span>
						</div>
						<div class="col-12 footable-paging-external footable-paging-center" id="footable-pagination">
							<div class="footable-pagination-wrapper">
								<ul class="pagination">
									{% for pg in page_range %}
									{% if histories.number == pg %}
									<li class="footable-page-nav" data-page="1">
										<a href="?page={{pg}}" class="mdc-button mdc-button--raised icon-button filled-button--success">{{pg}}</a>
									</li>
									{% else %}
									<li class="footable-page-nav" data-page="2">
										<a href="?page={{pg}}" class="mdc-button mdc-button--raised icon-button filled-button--primary">{{pg}}</a>
									</li>
									{% endif %}
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}