{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-lg-6">
       <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
             <div class="iq-header-title">
                <h4 class="card-title">Loss Recovery</h4>
             </div>
          </div>
          <div class="iq-card-body">
             <form>
               <div class="form-group">
                  <label for="text">Amount</label>
                  <input type="text" class="form-control" id="text1">
               </div>
                <div class="form-group">
                   <label for="text">Account</label>
                   <input type="text" class="form-control" id="text1">
                </div>
                <div class="form-group">
                   <label for="pwd">Screen Shot</label>
                   <input type="file" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancel</button>
             </form>
          </div>
       </div>
    </div>
 </div>
 
{% endblock %}