{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-6">
       <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
             <div class="iq-header-title">
                <h4 class="card-title">Connect MT4</h4>
             </div>
          </div>
          <div class="iq-card-body">
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vulputate, ex ac venenatis mollis, diam nibh finibus leo</p>
             <form>
                <div class="form-group">
                   <label for="text">Server</label>
                   <input type="text" class="form-control" id="text1">
                </div>
                <div class="form-group">
                   <label for="text">Account</label>
                   <input type="text" class="form-control" id="text1">
                </div>
                <div class="form-group">
                   <label for="pwd">Password:</label>
                   <input type="password" class="form-control" id="pwd">
                </div>
                <div class="checkbox mb-3">
                   <label><input type="checkbox"> Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancle</button>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}