{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-6">
       <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
             <div class="iq-header-title">
                <h4 class="card-title">Connect MT4</h4>
             </div>
          </div>
          <div class="iq-card-body">
             <form>
               <div class="form-group">
                  <label for="text">Broker</label>
                  
                  <select class="form-control" name="type" id="imageSelector">
                     <option disabled="">Select Method</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://sdfxglobal.com/join?ref=SkJCUENVdjRKWmdNR1VhMzV1VlBwQT09">SDFX Global</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://my.exness.com/accounts/sign-up?lng=en&_gl=1*16bccb8*_gcl_au*MjA4MzMxNjA4My4xNjg3OTM2NTAz*_ga*MzM2ODU1MDQ1LjE2ODc5MzY1MDU.*_ga_M71C3QBXSG*MTY5NTQ2MTAwNC4yLjAuMTY5NTQ2MTAwNC4wLjAuMA..#_ga=2.71951507.1201952754.1695461006-336855045.1687936505">Exness</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://my.superforex.com/register-client/personal-information">SuperForex</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://my.octafx.com/signup/?back=/">OctaFX</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://register.hfm.com/sv/en/new-live-account?mcid=10292&channel=countryguides">HFM</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://portal.fpmarkets.com/register?fpm-affiliate-utm-source=Web/Ext&fpm-affiliate-pcode=W158-0720-forexbrokers.com-B006-10">FP Markets</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://www.home.saxo/en-gb/accounts/openaccount">SAXO</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://application.forex.com/en/step/1?ibcode=RTGLOBEN&_gl=1*cvh5c1*_ga*MTg4Mjg3MDAwMS4xNjk1NDYxNDI3*_ga_XPZTRCXSST*MTY5NTQ2MTQyNy4xLjAuMTY5NTQ2MTQyNy42MC4wLjA">Forex.com</option>
                     <option style="justify-content: space-around;
                     letter-spacing: 1px;
                     font-size: 18px;
                     font-weight: 500;
                     font-family: sans-serif;" value="https://www.xm.com/promotions?utm_source=forexbrokers.com&utm_content=1000681&utm_medium=affiliate">XM</option>
                  </select>
               </div>
               <a href="" target="_blank" id="displayedImage" class="btn btn-primary">Broker's Sign Up</a>
               <br>
               <div class="form-group">
                  <label for="text">Server</label>
                  <input type="text" class="form-control" id="text1">
               </div>
                <div class="form-group">
                   <label for="text">Account</label>
                   <input type="text" class="form-control" id="text1">
                </div>
                <div class="form-group">
                   <label for="pwd">Password</label>
                   <input type="password" class="form-control" id="pwd">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancel</button>
             </form>
          </div>
       </div>
    </div>
 </div>
 <script>
   // Get references to the select, image, and paragraph elements
   const imageSelector = document.getElementById("imageSelector");
   const displayedImage = document.getElementById("displayedImage");
 
   // Add an event listener to the select element
   imageSelector.addEventListener("change", function() {
       // Get the selected option's value
       const selectedOption = imageSelector.value;
 
       // Set the src attribute of the image to the selected option's value
       displayedImage.href = `${selectedOption}`;
 
   });
 
   // Initialize the image and paragraph based on the initial select option
   const initialOption = imageSelector.value;
   displayedImage.href = `${initialOption}`;
 </script>
{% endblock %}