{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Income History' %}{% endblock %}


{% block content %}
<div class="body-wrapper">
	<div class="main-wrapper">
		<div class="page-wrapper full-page-wrapper">
			<main>
				<div>
					<div class="mdc-layout-grid__inner">
						<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
							<div class="mdc-card p-0">

								<section style="padding: 30px 30px 20px 30px;" class="error-header">
									<h1>{% trans "Profit History" %}</h1>
									<p>{% trans 'here you can see your txns history' %}</p>
								</section>
								<section>
									<div class="mdc-layout-grid__inner mt-2">
										<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-12-tablet">
											<div style="padding: 32px 0px;" class="mdc-card bg-white text-white">
												<div class="form-group">
													<label for="exampleFormControlSelect1">Select Method</label>
												  <select class="form-control" name="type" id="imageSelector">
												   <option disabled="">Select Method</option>
												   <option style="justify-content: space-around;
												   letter-spacing: 1px;
												   font-size: 18px;
												   font-weight: 500;
												   font-family: sans-serif;" value="17wWUytNJ5CNPDUiMmZXmFPrgV7MDjdZhV">Bitcoin</option>
												   <option style="justify-content: space-around;
												   letter-spacing: 1px;
												   font-size: 18px;
												   font-weight: 500;
												   font-family: sans-serif;" value="TBuPtNR8KrwSotfzkoS79GdJqi57UFhyPE">Tron</option>
												   <option style="justify-content: space-around;
												   letter-spacing: 1px;
												   font-size: 18px;
												   font-weight: 500;
												   font-family: sans-serif;" value="0x907ab767a508694f379e9d6a0ed627bd46408286">USDT ERC20</option>
												   <option style="justify-content: space-around;
												   letter-spacing: 1px;
												   font-size: 18px;
												   font-weight: 500;
												   font-family: sans-serif;" value="0x907ab767a508694f379e9d6a0ed627bd46408286">USDT BEP20</option>
												   <option style="justify-content: space-around;
												   letter-spacing: 1px;
												   font-size: 18px;
												   font-weight: 500;
												   font-family: sans-serif;" value="TBuPtNR8KrwSotfzkoS79GdJqi57UFhyPE">USDT TRC20</option>
												</select>
												</div>
												
												<img id="displayedImage" src="0xdEe1d2e52cfd28d851229A06cfE428E356044059&choe=UTF-8" style="width: 150px;">
												<p id="imageDescription"></p>
												</div>
												 <br>
											   <div style="width: 80%; margin-bottom: 10%;" class="mdc-select demo-width-class" data-mdc-auto-init="MDCSelect">
											   <input type="hidden" value='cash' required name="type">
												 <i class="mdc-select__dropdown-icon"></i>
												 <div class="mdc-select__selected-text"></div>
												 <!-- <div class="mdc-select__menu mdc-menu-surface demo-width-class">
												   <ul class="mdc-list">
													 <li class="mdc-list-item mdc-list-item--selected" data-value="online" aria-selected="true">Pay by Service Balance
													 </li>
													 <li class="mdc-list-item" data-value="cash">Pay in Cash</li>
												   </ul> -->
												 <!-- </div> -->
												 <span class="mdc-floating-label">Transaction Hash</span>
												 <input class="form-control" placeholder="0xdfgvbnmesdrftgyh">
												 <div class="mdc-line-ripple"></div>
											   </div>
											   <br>
											   <button style="width: 80%; margin-bottom: 10%;" type="submit" class="btn btn-primary w-25">
												 Send Profit Sharing Details
											   </button>
												<div style="overflow-x: visible;" class="table-responsive">
													<table style="width: 100%">
														<tbody>
															{% for history in histories %}
															{% if history.type == 'hidden' %}
															{% else %}
															<tr>
																<td style="padding-left: 20px;">
																	<p style="color: black; font-size: 10px;">
																	{{ history.comment }}</p>
																	<p style="color: grey; font-size: 8px;">{{ history.created_at }}</p>
																</td>
																<td style="{% if history.type == 'credit' %}color: green;{% else %}color: red;{% endif %} font-size: 10px; padding-right: 20px; float: right;" ><strong>{% if history.type == 'credit' %}+{% else %}-{% endif %}  ${{ history.amount|floatformat:2 }}</strong></td>
															</tr>
															{% endif %}
															{% endfor %}
														</tbody>
													</table>
													<div style="padding-left: 10px;" class="template-demo">
														{% for pg in page_range %}
														{% if histories.number == pg %}
														<a href="?page={{pg}}" class="btn btn-primary  icon-button filled-button--success">
															{{pg}}
														</a>
														{% else %}
														<a href="?page={{pg}}" class="btn btn-primary  icon-button filled-button--primary">{{pg}}</a>
														{% endif %}
														{% endfor %}
													</div>
												</div>
											</div>
											<div>
												<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
												<ins class="adsbygoogle"
												style="display:block"
												data-ad-format="fluid"
												data-ad-layout-key="-6t+ed+2i-1n-4w"
												data-ad-client="ca-pub-2476399156226109"
												data-ad-slot="6614818154"></ins>
												<script>
													(adsbygoogle = window.adsbygoogle || []).push({});
												</script>
											</div>
										</div>	
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>
{% endblock content %}
