{% extends "users/base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Dashboard' %}{% endblock %}
{% load sum_tags %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-lg-6">
       <div class="iq-card">
          <div class="iq-card-header d-flex justify-content-between">
             <div class="iq-header-title">
                <h4 class="card-title">Start Copying</h4>
             </div>
          </div>
          <div class="iq-card-body">
             <form>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn iq-bg-danger">cancle</button>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}