{% extends "users/base.html" %}
{% load static i18n %}
{% load sum_tags %}
 

{% block content %}
<div class="container">
  <div class="row align-items-center ">
    <div class="page-wrapper full-page-wrapper">
      <main>
        <div>
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card p-0">
                <section style="padding: 30px 30px 20px 30px;" class="error-header">
                  <h1>{% trans "My Network" %}</h1>
                  <p>{% trans 'here you can see your Network' %}</p>
                </section>
                <section style="">
                  <div class="mdc-layout-grid__inner mt-2" align="center">
                    {% if lll == "0" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            
                            <tr>
                              <th>&nbsp;&nbsp;Levels</th>
                              <th>Status</th>
                              <th>Active Users</th>
                              <th>Inactive Users</th>
                              <th>Total Business</th>
                              <th>Level Income</th>
                              <th>Details</th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td><strong>&nbsp;&nbsp;Level 1/Directs</strong></td>
                                <td>{% if directs >= 1 %}Open{% else %}Closed{% endif %}</td>
                                <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.1 }}</td>
                                <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.1 countingi.1 as x1 %}{{ x1|floatformat:"0" }}</td>
                                <td><span style="font-size: 16px">$ </span> {{ business.1 }}</td>
                                <td>15</td>
                                <td><a href="/level/team/{{request.user.username}}/1/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 2</strong></td>
                              <td>{% if directs >= 1 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.2 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.2 countingi.2 as x2 %}{{ x2|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.2 }}</td>
                              <td>14</td>
                              <td><a href="/level/team/{{request.user.username}}/2/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 3</strong></td>
                              <td>{% if directs >= 2 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.3 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.3 countingi.3 as x3 %}{{ x3|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.3 }}</td>
                              <td>13</td>
                              <td><a href="/level/team/{{request.user.username}}/3/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 4</strong></td>
                              <td>{% if directs >= 2 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.4 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.4 countingi.4 as x4 %}{{ x4|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.4 }}</td>
                              <td>12</td>
                              <td><a href="/level/team/{{request.user.username}}/4/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 5</strong></td>
                              <td>{% if directs >= 3 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.5 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.5 countingi.5 as x5 %}{{ x5|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.5 }}</td>
                              <td>11</td>
                              <td><a href="/level/team/{{request.user.username}}/5/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 6</strong></td>
                              <td>{% if directs >= 3 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.6 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.6 countingi.6 as x6 %}{{ x6|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.6 }}</td>
                              <td>10</td>
                              <td><a href="/level/team/{{request.user.username}}/6/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 7</strong></td>
                              <td>{% if directs >= 4 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.7 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.7 countingi.7 as x7 %}{{ x7|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.7 }}</td>
                              <td>9</td>
                              <td><a href="/level/team/{{request.user.username}}/7/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 8</strong></td>
                              <td>{% if directs >= 4 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.8 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.8 countingi.8 as x8 %}{{ x8|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.8 }}</td>
                              <td>8</td>
                              <td><a href="/level/team/{{request.user.username}}/8/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 9</strong></td>
                              <td>{% if directs >= 5 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.9 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.9 countingi.9 as x9 %}{{ x9|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.9 }}</td>
                              <td>7</td>
                              <td><a href="/level/team/{{request.user.username}}/9/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 10</strong></td>
                              <td>{% if directs >= 5 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.10 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.10 countingi.10 as x10 %}{{ x10|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.10 }}</td>
                              <td>6</td>
                              <td><a href="/level/team/{{request.user.username}}/10/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 11</strong></td>
                              <td>{% if directs >= 6 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.11 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.11 countingi.11 as x11 %}{{ x11|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.11 }}</td>
                              <td>5</td>
                              <td><a href="/level/team/{{request.user.username}}/11/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 12</strong></td>
                              <td>{% if directs >= 6 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.12 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.12 countingi.12 as x12 %}{{ x12|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.12 }}</td>
                              <td>4</td>
                              <td><a href="/level/team/{{request.user.username}}/12/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 13</strong></td>
                              <td>{% if directs >= 7 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.13 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.13 countingi.13 as x13 %}{{ x13|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.13 }}</td>
                              <td>3</td>
                              <td><a href="/level/team/{{request.user.username}}/13/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 14</strong></td>
                              <td>{% if directs >= 7 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.14 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.14 countingi.14 as x14 %}{{ x14|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.14 }}</td>
                              <td>2</td>
                              <td><a href="/level/team/{{request.user.username}}/14/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 15</strong></td>
                              <td>{% if directs >= 8 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.15 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.15 countingi.15 as x15 %}{{ x15|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.15 }}</td>
                              <td>1</td>
                              <td><a href="/level/team/{{request.user.username}}/15/">View</a></td>
                              </tr>
                              <!-- <tr>
                              <td><strong>&nbsp;&nbsp;Level 16</strong></td>
                              <td>{% if directs >= 8 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.16 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.16 countingi.16 as x16 %}{{ x16|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.16 }}</td>
                              <td><a href="/level/team/{{request.user.username}}/16/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 17</strong></td>
                              <td>{% if directs >= 9 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.17 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.17 countingi.17 as x17 %}{{ x17|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.17 }}</td>
                              <td><a href="/level/team/{{request.user.username}}/17/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 18</strong></td>
                              <td>{% if directs >= 9 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.18 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.18 countingi.18 as x18 %}{{ x18|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.18 }}</td>
                              <td><a href="/level/team/{{request.user.username}}/18/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 19</strong></td>
                              <td>{% if directs >= 10 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.19 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.19 countingi.19 as x19 %}{{ x19|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.19 }}</td>
                              <td><a href="/level/team/{{request.user.username}}/19/">View</a></td>
                              </tr>
                              <tr>
                              <td><strong>&nbsp;&nbsp;Level 20</strong></td>
                              <td>{% if directs >= 10 %}Open{% else %}Closed{% endif %}</td>
                              <td><span style="color: green; font-size: 16px">&#9679; </span> {{ countingi.20 }}</td>
                              <td><span style="color: red; font-size: 16px">&#9679; </span>{% sub counting.20 countingi.20 as x20 %}{{ x20|floatformat:"0" }}</td>
                              <td><span style="font-size: 16px">$ </span> {{ business.20 }}</td>
                              <td><a href="/level/team/{{request.user.username}}/20/">View</a></td>
                              </tr> -->
                              <tr>
                              <td><strong>&nbsp;&nbsp;Total</strong></td>
                              <td><strong>{{directs}} Levels Open</strong></td>
                              <td><strong style="font-size: 16px;">&#9745; {{ countingi.1|add:countingi.2|add:countingi.3|add:countingi.4|add:countingi.5|add:countingi.6|add:countingi.7|add:countingi.8|add:countingi.9|add:countingi.10|add:countingi.11|add:countingi.12|add:countingi.13|add:countingi.14|add:countingi.15|add:countingi.16|add:countingi.17|add:countingi.18|add:countingi.19|add:countingi.20 }}</strong></td>
                              <td><strong style="font-size: 16px;">&#9745; {{ x1|add:x2|add:x3|add:x4|add:x5|add:x6|add:x7|add:x8|add:x9|add:x10|add:x11|add:x12|add:x13|add:x14|add:x15|add:x16|add:x17|add:x18|add:x19|add:x20 }}</strong></td>
                              <td><strong style="font-size: 16px;">$ {{ business.1|add:business.2|add:business.3|add:business.4|add:business.5|add:business.6|add:business.7|add:business.8|add:business.9|add:business.10|add:business.11|add:business.12|add:business.13|add:business.14|add:business.15|add:business.16|add:business.17|add:business.18|add:business.19|add:business.20 }}</strong></td>
                              <td>&nbsp;&nbsp;</td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    {% endif %}
                    {% if lll == "1" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 1/My Directs</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Plan</th>
                              <th>Details</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for usern, shopn in user_list %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if shopn.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ usern.name }}</td>
                              <td>{{ usern.username }}</td>
                              <td>$ {{ shopn.level.amount }}</td>
                              <td><a href="/level/team/{{ usern.username }}/1/">View</a></td>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "2" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 2</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level2n, level2nu in all.0 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level2n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level2nu.name }}</td>
                              <td>{{ level2nu.username }}</td>
                              <td>{{ level2nu.referral }}</td>
                              <td>$ {{ level2n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "3" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 3</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level3n, level3nu in all.1 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level3n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level3nu.name }}</td>
                              <td>{{ level3nu.username }}</td>
                              <td>{{ level3n.direct }}</td>
                              <td>$ {{ level3n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "4" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 4</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level4n, level4nu in all.2 %}
                            <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>
                                {% if level4n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level4nu.name }}</td>
                              <td>{{ level4nu.username }}</td>
                              <td>{{ level4n.direct }}</td>
                              <td>$ {{ level4n.level.amount }}</td>
                              <tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "5" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 5</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level5n, level5nu in all.3 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level5n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level5nu.name }}</td>
                              <td>{{ level5nu.username }}</td>
                              <td>{{ level5n.direct }}</td>
                              <td>$ {{ level5n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "6" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 6</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level6n, level6nu in all.4 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level6n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level6nu.name }}</td>
                              <td>{{ level6nu.username }}</td>
                              <td>{{ level6n.direct }}</td>
                              <td>$ {{ level6n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "7" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 7</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level7n, level7nu in all.5 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level7n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level7nu.name }}</td>
                              <td>{{ level7nu.username }}</td>
                              <td>{{ level7n.direct }}</td>
                              <td>$ {{ level7n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "8" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 8</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level8n, level8nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level8n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level8nu.name }}</td>
                              <td>{{ level8nu.username }}</td>
                              <td>{{ level8n.direct }}</td>
                              <td>$ {{ level8n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "9" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 9</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level9n, level9nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level9n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level9nu.name }}</td>
                              <td>{{ level9nu.username }}</td>
                              <td>{{ level9n.direct }}</td>
                              <td>$ {{ level9n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "10" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 10</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level10n, level10nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level10n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level10nu.name }}</td>
                              <td>{{ level10nu.username }}</td>
                              <td>{{ level10n.direct }}</td>
                              <td>$ {{ level10n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "11" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 11</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level11n, level11nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level11n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level11nu.name }}</td>
                              <td>{{ level11nu.username }}</td>
                              <td>{{ level11n.direct }}</td>
                              <td>$ {{ level11n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "12" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 12</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level12n, level12nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level12n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level12nu.name }}</td>
                              <td>{{ level12nu.username }}</td>
                              <td>{{ level12n.direct }}</td>
                              <td>$ {{ level12n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "13" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 13</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level13n, level13nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level13n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level13nu.name }}</td>
                              <td>{{ level13nu.username }}</td>
                              <td>{{ level13n.direct }}</td>
                              <td>$ {{ level13n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "14" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 14</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level14n, level14nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level14n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level14nu.name }}</td>
                              <td>{{ level14nu.username }}</td>
                              <td>{{ level14n.direct }}</td>
                              <td>$ {{ level14n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "15" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 15</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level15n, level15nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level15n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level15nu.name }}</td>
                              <td>{{ level15nu.username }}</td>
                              <td>{{ level15n.direct }}</td>
                              <td>$ {{ level15n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "16" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 16</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level16n, level16nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level16n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level16nu.name }}</td>
                              <td>{{ level16nu.username }}</td>
                              <td>{{ level16n.direct }}</td>
                              <td>$ {{ level16n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "17" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 17</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level17n, level17nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level17n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level17nu.name }}</td>
                              <td>{{ level17nu.username }}</td>
                              <td>{{ level17n.direct }}</td>
                              <td>$ {{ level17n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "18" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 18</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level18n, level18nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level18n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level18nu.name }}</td>
                              <td>{{ level18nu.username }}</td>
                              <td>{{ level18n.direct }}</td>
                              <td>$ {{ level18n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "19" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 19</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level19n, level19nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level19n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level19nu.name }}</td>
                              <td>{{ level19nu.username }}</td>
                              <td>{{ level19n.direct }}</td>
                              <td>$ {{ level19n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                    {% if lll == "20" %}
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-4-tablet" align="center">
                      <h5>Level 20</h5>
                      <div class="table-responsive">
                        <table class="table dashboard-table">
                          <thead>
                            <tr style="background-color: #333333;">
                              <th width="50px">&nbsp;&nbsp;Sr. No.</th>
                              <th>&nbsp;&nbsp;Name</th>
                              <th>VISTA ID</th>
                              <th>Upline</th>
                              <th>Plan</th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for level20n, level20nu in all.6 %}
                              <tr >
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;{{forloop.counter}}</td>
                              <td>{% if level20n.active %}<span style="color: green; font-size: 16px">&#9679;</span>{% else %}<span style="color: red; font-size: 16px">&#9679;</span>{% endif %}{{ level20nu.name }}</td>
                              <td>{{ level20nu.username }}</td>
                              <td>{{ level20n.direct }}</td>
                              <td>$ {{ level20n.level.amount }}</td>
                              </tr>
                              {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <br><br>
                      <button onclick="window.history.back();" class="mdc-button mdc-button--raised w-50">Back</button>
                    </div>
                    {% endif %}
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
<style type="text/css">
.two p { display: inline-block; max-width: 50%; }
.two p:nth-child(1) { float:left; }
.two p:nth-child(2) { float:right; }
</style>
{% endblock content %}